body {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

.highcharts-candlestick-series .highcharts-point-up {
  fill: green;
}
